.fundoLogin {
    background-image: url("https://i.imgur.com/ZZFAmzo.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    form {
        width: 90% !important;
        max-width: 400px !important;
        padding: 16px !important;
    }

    .fundoLogin {
        background-position: top center;
        background-size: cover;
    }

    .decorative-img {
        display: none;
    }
}


@media (min-width: 850px){
    div.focinho{
        display: block;
    }
}

@media (max-width: 850px){
    div.focinho{
        display: none;
    }
}

