.navbar {
  /* Estilos gerais da navbar */
  background-color: #003f5c;
  color: white;
  padding: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centraliza verticalmente */
  max-width: 1200px; /* Ajustar a largura máxima conforme necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
}

body {
  padding-top: 63px; /* Altere o valor conforme a altura do seu navbar */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centraliza a logo horizontalmente */
}